.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-image: url("https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}
h1 {
  color: aqua;
}
div {
  color: deeppink;
}
p {
  color: chartreuse;
}
button {
  border-color: 2 px solid purple;
}
